/* ? TAILWIND CSS LINKING */
@import "tailwindcss";

/* ? GOOGLE FONTS LINKING*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@theme {
  --background-image-hero-pattern: url("../public/hero-bg.png");
  --font-DM-Sans: "DM Sans", serif;
  --color-light-100: #0f0d23;
  --color-light-500: #ab8bff;
}

@layer base {
  body {
    font-family: "DM Sans", sans-serif;
    background: #020108;
    overflow-x: hidden;
  }

  header {
    @apply text-white flex flex-col items-center;
  }

  header img {
    @apply w-full max-w-lg object-contain mx-auto drop-shadow-md h-auto;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-screen h-[100dvh] bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .search {
    @apply flex items-center gap-4 bg-light-100 px-4 py-3 w-full max-w-xl rounded-lg;

    & svg {
      @apply fill-[#AB8BFF];
    }

    & input {
      @apply w-full outline-none border-none placeholder:text-[#a885db] bg-transparent text-gray-200 text-lg;
    }
  }

  .movies {
    @apply text-white space-y-6 mt-6;

    & h2 {
      @apply text-4xl font-semibold tracking-wide;
    }

    & ul {
      @apply grid  grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-light-100 p-4 rounded-2xl shadow-inner shadow-[#cecefb]/5 hover:shadow-[#cecefb]/50 cursor-pointer;

    & img {
      @apply w-full rounded-lg h-auto;
    }

    & h3 {
      @apply text-xl font-semibold;
    }

    & .content {
      @apply mt-2;
    }

    & .rating {
      @apply flex gap-3 text-lg items-center;
    }
  }

  .prev-next {
    @apply text-light-500 py-8 px-4 flex justify-between items-center;

    & .icons {
      @apply bg-light-100 p-3 rounded-md cursor-pointer;
    }
  }
}

@utility text-gradient {
  @apply bg-gradient-to-r from-[#00008b] to-[#ff69b4] bg-clip-text text-transparent;
}
